/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

.project-card {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 10px; /*Rounded corners*/
  overflow: hidden; /* Hide overflow content */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.screenshot-container {
  width: 25%; /* Default width for laptops */
  height: auto;
  position: relative;
  /* overflow: hidden; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.screenshot-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.description-container {
  width: 75%;
  padding: 10px;
}

.description-container .description {
  margin-bottom: 20px;
}

.button-container {
  text-align: left;
}

button {
  padding: 10px 20px;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.projects-description {
  background-color: #1e90ff;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

.projects-description h2 {
  margin-bottom: 10px;
}

.projects-description p {
  margin: 0;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .project-card {
    flex-direction: row; /* Vertical layout for phones */
    border-radius: 10px;
  }

  .screenshot-container {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .description-container {
    width: 100%; /* Full width for phones */
  }

  /* Hover zoom effect with full image visibility */
  .screenshot-container:hover img {
    transform: scale(
      1.5
    ); /* Zoom on hover, slightly increased for full visibility */
    transform-origin: 0 0; /* Zoom from top-left corner, ensuring full image is visible */
  }
}
